################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BlobContainerDownload/BlobContainerDownload/obj/Debug
/BlobContainerDownload/BlobContainerDownload/bin
/BlobContainerDownload/packages
/BlobContainerDownload/.vs
