################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BlobContainerDownload/BlobContainerDownload/obj/Debug
/BlobContainerDownload/BlobContainerDownload/bin
/BlobContainerDownload/packages
/BlobContainerDownload/.vs
/AzureMediaStorage/.vs
/AzureMediaStorage/AzureMediaStorage.Custom/bin
/AzureMediaStorage/AzureMediaStorage.Custom/obj/Debug
/AzureMediaStorage/AzureMediaStorage.Web/bin
/AzureMediaStorage/AzureMediaStorage.Web/obj/Debug
/AzureMediaStorage/packages
